/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */

html {
  box-sizing: border-box;
  font-size: 16px;
  
}

*, *:before, *:after {
  box-sizing: inherit;
 
}


body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  text-align: center;
  
}


/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
  
}


.container {
  width: 800px;
  margin: 0 auto;
  text-align: justify;
 
}

.herotext {
  color: white;
  font-size: 60px;
  text-align: center;
  top: 50%; 
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.heroimage {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;

}

.ingredients {
  width: 800px;
  margin: 0 auto;
  text-align: left;
  
}

.info {
  width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.imageclass {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 10px;

}

h4 {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.predirections {
  width: 800px;
  margin: 0 auto;
  text-align: justify;
 
}

.thirdimage {
  display: block;
  margin: auto;
  margin-top: 10px;
}

#first-list {
  text-align: left;
  list-style-type: none;
}

#first-list li::before {
  content: "-";
  margin-right: 10px;
}

#second-list {
  list-style: none;

}

#second-list > li {
  counter-increment: listcounter
}

#second-list > li::before {
  content : counter(listcounter) ")";
}



/* STYLES */
/* Write your CSS below */